<!DOCTYPE html>

<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="some author">
    <link rel='stylesheet' type='text/css' href='../static/style/main_page.css'>
    <title>WineStore</title>
    <script src='/home/vladyslav/Python_projects/project_flask/static/script/script.js'></script>
</head>

<body>
    
    <header class='header'>
        <div class='header_logo'>
            <!-- le corte -->
            <a class='home' href='/home'>le corte</a>
        </div>

        <nav class='header_nav'>
            <a class='header_nav_link' href='/catalogue'>Каталог</a>
            <a class='header_nav_link' href='/delivery'>Доставка</a>
            <a class='header_nav_link' href='/collections'>Коллекции</a>
            <a class='header_nav_link' href='/contacts'>Контакты</a>
        </nav>
    </header>
    

    <main class='main'>

        <div class='main_div'>
            <a class='main_button' href='/wine_list'>Винная карта</a>
            <a class='main_button' href='/tasting'>Дегустация</a>
        </nav>

    </main>

</body>
</html>
